//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 31 15:41:28 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CS" LOCATE = SITE "P45" LEVEL 1;
COMP "CLK" LOCATE = SITE "P60" LEVEL 1;
COMP "MISO" LOCATE = SITE "P43" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P42" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P44" LEVEL 1;
COMP "Out_next_state" LOCATE = SITE "P68" LEVEL 1;
COMP "led_red" LOCATE = SITE "P49" LEVEL 1;
COMP "led_green" LOCATE = SITE "P50" LEVEL 1;
COMP "MAX_LED_b" LOCATE = SITE "P72" LEVEL 1;
COMP "MAX_LED_g" LOCATE = SITE "P71" LEVEL 1;
COMP "led_blue" LOCATE = SITE "P51" LEVEL 1;
COMP "XB_SERIAL_I" LOCATE = SITE "P88" LEVEL 1;
COMP "XB_SERIAL_O" LOCATE = SITE "P90" LEVEL 1;
COMP "MAX_LED_r" LOCATE = SITE "P69" LEVEL 1;
SCHEMATIC END;

